---
export interface Props {
	name?: string;
    alias?: string;
    title: string;
    media: string;
    actor: string;
    id: string; 
    imageSrc: string;
    charName: string;
}

const { name, title, media, actor, charName, imageSrc } = Astro.props;;


---

<img class="w-auto" src={imageSrc} id={charName} />
<h3 class="text-lg">{name} in {title}</h3>
<ul>
  <li class="text-sm">Media: {media}</li>
  <li class="text-sm">Portrayed by: {actor}</li>
</ul>
