---
const { name, alias, title, media, actor, imgSrc } = Astro.props;
---

<img
  class="w-full h-full"
  src={imgSrc}
  alt=`{charName} in {title}`
/>
{alias ?
  <h3 class="text-lg"> {alias} in {title}</h3>:<h3 class="text-lg"> {name} in {title}</h3>
}
<ul>
  {alias && name && <li class="text-sm">Name: {name}</li>}
  <li class="text-sm">Media: {media}</li>
  <li class="text-sm">Portrayed by: {actor}</li>
</ul>
