---
export interface Props {
	name?: string;
    alias?: string;
    title: string;
    media: string;
    actor: string
}

const { alias, name, title, media, actor } = Astro.props;
---

<tr>
    <td>{name}</td>
    <td>{alias}</td>
    <td>{title}</td>
    <td>{media}</td>
    <td>{actor}</td>
</tr>
