---
const { item } = Astro.props;
---
<tr class="p-8 even:bg-slate-900">
    <td class="w-48 pl-4">{item.name}</td>
    <td>{item.alias}</td>
    <td class="w-48">{item.title}</td>
    <td class="py-4">{item.media}</td>
    <td>{item.actor}</td>
</tr>
