---
const { item } = Astro.props;
---
<tr class="p-8 even:bg-slate-900">
    <td class="px-4">{item.name}</td>
    <td class="pr-2">{item.alias}</td>
    <td class="pr-2">{item.title}</td>
    <td class="w-24 py-2">{item.media}</td>
    <td>{item.actor}</td>
</tr>
