---
export interface Props {
	title: string;
	page: string
}

const { title, page } = Astro.props;

let home = "text-sky-50 underline hover:text-yellow-100 underline";
let table = home
let about = home
if ( page === "home") {
	home = "font-bold"
}
if ( page === "table") {
	table = "font-bold"
}
if ( page === "about") {
	about = "font-bold"
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black text-white">
		<main class="container mx-auto mb-20 w-[800px]">
			<h1 class="text-3xl mt-10">Welcome to GusGorman.com</h1>
			<h2 class="text-2xl mb-5">A list of black programmers, hackers and computer specialist in film and television.</h2>
			
			<ul class="divide-x mb-10">
				<li class="inline pr-5 "><a class={home} href="./">Home</a></li>
				<li class="inline pr-5 pl-2"><a class={table} href="./table">View as Table</a></li>
				<l1 class="inlinep pl-2"><a class={about} href="./about">About GusGorman.com</a></l1>
			</ul>

			<slot />
			<footer class="mt-20">
				<p class="text-sm">Hi, I'm <a href="http://www.tobiaswright.com">Tobias Wright</a>, a front-end engineer. This page is built with <a href="https://astro.build/">Astro</a> and hosted on <a href="https://github.com/tobiaswright/gusgorman">Github</a>.</p>
			</footer>
		</main>	
	</body>
</html>

<style>
	a { @apply text-sky-50 underline hover:text-yellow-100 underline}
</style>